.home-hero {
  @include std-background;
  background-color: rgba($blue, 0.5);
  background-image: url('../images/hero.jpg');
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 10px solid $blue;
  padding-top: 10px;

  @include breakpoint(sm) {
    padding-top: 0;
  }

  @include breakpoint(md) {
    padding-bottom: 80px;
  }

  &::before {
    position: absolute;
    content: '';
    @include size(100%);
    background: rgba(74,74,74,0.25);
    top: 0;
    left: 0;
  }

  .overlay {
    width: 100%;
    @include breakpoint(md) {
      max-width: 400px;
      flex-basis: 400px;
      margin-left: auto;
    }
  }

  .call-to-action {
    background: rgba($white, 0.9);
    padding: 10px;
    @include breakpoint(md) {
      padding: 20px 35px;
    }
  }

  .logo {
    margin-bottom: 10px;
    display: block;

    color: $blue;
  }

  .video-toggle {
    margin-bottom: 15px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  hr {
    border-color: rgba($blue, 0.4);
    margin: 0;
    margin-bottom: 6px;
  }

  h4 {
    margin-bottom: 15px;
  }

  .link {
    color: $main-color;
    border-bottom: 1px solid;
  }

  .special-row {
    margin-bottom: 6px;
    @include breakpoint(sm) {
      display: flex;
      align-items: center;
      margin: 0 -7px 6px;
    }
  }

  .column {
    @include breakpoint(sm) {
      padding: 0 7px;
    }
  }

  .social-networks {

    [class^='icon-'] {
      color: $blue;
      @include size(20px);
    }

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: block;
      @include size(20px);
    }
    li {
      margin-left: 10px;
    }
  }
}
