html {
  min-height: 100%;
  position: relative;
  background-color: $white;
  color: $black;
  font-family: $system-fonts;
  font-weight: $fw-regular;
  line-height: $base-line;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.wf-active {
    font-family: $font-family--primary;
  }
}

body {
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $trns-duration;
  &:focus {
    outline: 1px dotted;
  }
}
