header.home-hero
  .container
    .overlay
      .call-to-action
        a.logo(href='/' title='#RevisaMiGrieta')
          h1 #RevisaMiGrieta

        .embed-responsive.embed-responsive-16by9.video-toggle
          iframe.embed-responsive-item(
            src="https://www.youtube-nocookie.com/embed/ZN4syXtf22s?rel=0&amp;controls=0&amp;showinfo=0"
            frameborder="0"
            allowfullscreen
          )

        h4.text-warning Importante
        a(href='assets/images/grieta.jpg' target='_blank')
          +img('grieta.jpg', 'Grietas Peligrosas')
        p Si en tu casa hay grietas así necesitas evacuar inmediatamente.

        h4.text-primary Únete a la discusión
        p Usa el hashtag #[a.link(href='https://twitter.com/hashtag/RevisaMiGrieta') #RevisaMiGrieta] con una foto de tu casa para recibir recomendaciones de seguridad.
        p Revisa el video de arriba para estar más al pendiente.
        ul.social-networks
          li: a(href='https://twitter.com/RevisaMiGrieta'): +svg('twitter')
          li: a(href='https://www.youtube.com/watch?v=ZN4syXtf22s'): +svg('youtube')
