section.petition
  .container
    .row
      .col-md-6.mx-auto
        h1 We Refuse to be Silent
        p Governor Abbott signed SB 4 (also known as the Show Me Your Papers bill) into law on May 8th. SB 4 will legalize discrimination, racial profiling, and turn local police officers into an extension of President Trump's deportation force.
        p We must make our voices heard loud and clear: #[a(href='#') #SB4ISHATE]
        p
          strong Join me in resisting SB4!
    .row
      .col-md-3.mx-auto
        a.btn.btn-primary.btn-lg(href='#' title='Add your name') Add your Name
