section.tweets.pt-5.pb-5
  .container
    h2.text-center.mb-3 Tweets Importantes
    .row
      .col-md-4
        blockquote.twitter-tweet(data-lang="es")
          p(lang='es', dir='ltr')
            | Informamos que las brigadas de esta Secretaría están debidamente identificadas con uniforme y credenciales
            a(href='https://t.co/TzfTGw6JJc') pic.twitter.com/TzfTGw6JJc
          | — ProtecciónCivil CDMX (@SPCCDMX)
          a(href='https://twitter.com/SPCCDMX/status/910314824399167488') 20 de septiembre de 2017
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Recuerda que el personal de <a href="https://twitter.com/SPCCDMX">@SPCCDMX</a> está debidamente identificado y sólo ingresa a los hogares a petición de la población <a href="https://t.co/S1iEMXoF4F">pic.twitter.com/S1iEMXoF4F</a></p>&mdash; Luis Serna (@sernalui) <a href="https://twitter.com/sernalui/status/910329734793371648">20 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Informamos que las brigadas de esta Secretaría están debidamente identificadas con uniforme y credenciales <a href="https://t.co/TzfTGw6JJc">pic.twitter.com/TzfTGw6JJc</a></p>&mdash; ProtecciónCivil CDMX (@SPCCDMX) <a href="https://twitter.com/SPCCDMX/status/910314824399167488">20 de septiembre de 2017</a></blockquote>
