section.tweets
  .container
    .top-twitter
      +svg('twitter')
    .slider
      .row
        .col-md-8.mx-auto
          p Major budget victories for #[a(href='https://twitter.com/hashtag/HD76') #HD76] and El Paso. $142 million for @ TTUHSCEP and $32 million for Ports of Entry in El Paso. #[a(href='https://twitter.com/hashtag/txlege') #txlege] #[a(href='https://twitter.com/hashtag/ElPaso') #ElPaso]
          p.stamp JUN 5 @ 20:10 by #[a(href='https://twitter.com/CesarJBlanco') @CesarJBlanco]
      .row
        .col-md-8.mx-auto
          p Another awesome tweet
          p.stamp JUN 5 @ 20:10 by #[a(href='https://twitter.com/CesarJBlanco') @CesarJBlanco]
      .row
        .col-md-8.mx-auto
          p Just another tweet more
          p.stamp JUN 5 @ 20:10 by #[a(href='https://twitter.com/CesarJBlanco') @CesarJBlanco]
    .row
      .col-md-4.mx-auto
        .social-bottom
          p About Cesar
          ul.social-networks
            li: a(href='#'): +svg('facebook')
            li: a(href='https://twitter.com/CesarJBlanco'): +svg('twitter')
            li: a(href='#'): +svg('youtube')
