section.tweets.pt-5.pb-5
  .container
    h2.text-primary.text-center.mb-3 Tweets Importantes
    .row
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Informamos que las brigadas de esta Secretar铆a est谩n debidamente identificadas con uniforme y credenciales <a href="https://t.co/TzfTGw6JJc">pic.twitter.com/TzfTGw6JJc</a></p>&mdash; Protecci贸nCivil CDMX (@SPCCDMX) <a href="https://twitter.com/SPCCDMX/status/910314824399167488">20 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Recuerda que el personal de <a href="https://twitter.com/SPCCDMX">@SPCCDMX</a> est谩 debidamente identificado y s贸lo ingresa a los hogares a petici贸n de la poblaci贸n <a href="https://t.co/S1iEMXoF4F">pic.twitter.com/S1iEMXoF4F</a></p>&mdash; Luis Serna (@sernalui) <a href="https://twitter.com/sernalui/status/910329734793371648">20 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Informamos que las brigadas de esta Secretar铆a est谩n debidamente identificadas con uniforme y credenciales <a href="https://t.co/TzfTGw6JJc">pic.twitter.com/TzfTGw6JJc</a></p>&mdash; Protecci贸nCivil CDMX (@SPCCDMX) <a href="https://twitter.com/SPCCDMX/status/910314824399167488">20 de septiembre de 2017</a></blockquote>

      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="und" dir="ltr"><a href="https://t.co/WoPf5Kwbei">pic.twitter.com/WoPf5Kwbei</a></p>&mdash; Sismol贸gico Nacional (@SSNMexico) <a href="https://twitter.com/SSNMexico/status/910263128914571266">19 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">驴Quieres salir a ayudar en Ciudad de M茅xico? Aqu铆 una lista de centros de acopio, acude al m谩s cercano y dona desde hoy. <a href="https://t.co/MBq9wtRUpT">pic.twitter.com/MBq9wtRUpT</a></p>&mdash; SkyAlert (@SkyAlertMx) <a href="https://twitter.com/SkyAlertMx/status/910329462897696768">20 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Anuncio desde el <a href="https://twitter.com/C5_CDMX">@C5_CDMX</a> para la poblaci贸n de la CDMX. Si tienen grietas sus casas rep贸rtenlas al 911 <a href="https://t.co/5i6NxbH31K">pic.twitter.com/5i6NxbH31K</a></p>&mdash; SkyAlert (@SkyAlertMx) <a href="https://twitter.com/SkyAlertMx/status/910308956777713664">20 de septiembre de 2017</a></blockquote>

      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Por favor RT en caso de presentar cualquier tipo de estas fallas desalojen su casa, al final un ejemplo <a href="https://twitter.com/hashtag/revisamigrieta?src=hash">#revisamigrieta</a> <a href="https://t.co/R0a8AE2yP7">pic.twitter.com/R0a8AE2yP7</a></p>&mdash; 拆 (@UnTaIHeisenberg) <a href="https://twitter.com/UnTaIHeisenberg/status/910406055758249984">20 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Necesitamos los siguientes art铆culos. <a href="https://twitter.com/hashtag/Sismo?src=hash">#Sismo</a> <a href="https://twitter.com/hashtag/CruzRoja?src=hash">#CruzRoja</a> <a href="https://twitter.com/hashtag/CDMX?src=hash">#CDMX</a> <a href="https://twitter.com/hashtag/RT?src=hash">#RT</a> <a href="https://t.co/7BHe3q2EAb">pic.twitter.com/7BHe3q2EAb</a></p>&mdash; Cruz Roja Mexicana (@CruzRoja_MX) <a href="https://twitter.com/CruzRoja_MX/status/910334445571289088">20 de septiembre de 2017</a></blockquote>
      .col-md-4
        <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">隆No propagues rumores! Inf贸rmate y sigue informaci贸n de <br>fuentes oficiales.  <br>Unidos somos m谩s fuertes 拆 <a href="https://twitter.com/hashtag/FuerzaM%C3%A9xico?src=hash">#FuerzaM茅xico</a> <a href="https://t.co/7v3NwabkrT">pic.twitter.com/7v3NwabkrT</a></p>&mdash; ISSSTE (@ISSSTE_mx) <a href="https://twitter.com/ISSSTE_mx/status/910408212494585856">20 de septiembre de 2017</a></blockquote>
